doctype html
html
    head
        title Express
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="")
        link(rel="stylesheet" href="/stylesheets/screen.css")
        link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.css" )
        link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.1.0/dist/MarkerCluster.Default.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        block content
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        script(src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin="")
        script(src="https://unpkg.com/leaflet.markercluster@1.1.0/dist/leaflet.markercluster-src.js")
        script(src="/scripts/networks.js")
        script(src="/scripts/map.js")

